# Node modules
node_modules
package-lock.json

# Typescript build directory
build

# Environment variables, never commit this file
.env

.vscode
pm2.json
/public/img/mockups/
deploy.sh
deploy.log
deploy.err
#log files and asset files
/assets/
/assets/logs/

runbuild.sh
/src/generated/prisma
public.sql
PROJECT IOT local.postman_collection.json
db_bak.sql
db.sql